<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true">
  <targets async="true">
    <target name="file-level" xsi:type="File" encoding="utf-8" fileName="${var:logs-dir}/${level}.today.log"
            archiveFileName="${var:logs-dir}/archives/${level}.{#}.zip" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="7" enableArchiveFileCompression="True"
            cleanupFileName="False" keepFileOpen="True" concurrentWrites="False" openFileCacheTimeout="60" openFileCacheSize="10"
            layout="[${longdate}] - [${level}] - [${logger}]${newline}${message:withException=true}${newline}" lineEnding="CRLF" />
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="file-level" />
  </rules>
</nlog>